.hlavni-navigace {

  .header-left {
    display: inline-block;
    width: 20%;
    float: left;

    img {
      width: 210px;
    }
  }

  .header-center {
    display: inline-block;
    //background-color: #1b6d85;
    width: 100%;

    @media (min-width: 768px) {
      width: 60%
    }

    .page-title {

      background: url('./images/lano-navigace.png') no-repeat center bottom;
      background-size: 95%;
      text-align: center;
      padding: 0.5em 0;
      font-size: 2em; // small screen default
      font-weight: bold;

      @media (min-width: 768px) {
        font-size: 3em;
      }
      @media (min-width: 992px) {
        font-size: 3em;
      }
      @media (min-width: 1200px) {
        font-size: 4em;
      }

      > a {
        text-decoration: none;
        color: black;
      }
    }

    .odkazy {
      float: left;
      width: 100%;
      overflow: hidden;
      position: relative;

      > ul {
        clear: left;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        left: 50%;
        text-align: center;

        > li {
          display: block;
          position: relative;
          margin: 0;
          padding: 0;
          right: 50%;
          list-style: none;

          @media (min-width: 768px) {
            float: left;
          }

          > a {
            display: block;
            margin: 0 0 0 5px;
            padding: 10px 15px;
            color: black;
            font-size: 1.25em;
            &:hover,
            &:focus {
              text-decoration: none;
              color: #ffe22b;
            }
          }
        }
      }

      > .jazyky {
        display: block;
        float: left;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }

  }

  .header-right {
    float: right;
    display: inline-block;
    width: 20%;

    .jazyky {
      list-style: none;
      display: inline-block;
      width: 212px;
      height: 214px;
      background: url('./images/header-ornamenty-pozadi.png') no-repeat;
      background-size: 212px 214px;

      .english {
        width: 51px;
        height: 40px;
        position: relative;
        top: 26px;
        left: 8px;
        display: block;
        background-image: url('./images/header-ornamenty-en-vlajka.png');
        &:active {
          background: transparent;
        }
      }
      .czech {
        width: 53px;
        height: 50px;
        position: relative;
        top: -14px;
        left: 76px;
        display: block;
        background-image: url('./images/header-ornamenty-cz-vlajka.png');
        &:active {
          background: transparent;
        }
      }
      .facebook {
        width: 61px;
        height: 37px;
        position: relative;
        top: 64px;
        left: 90px;
        display: block;
        background-image: url('./images/header-ornamenty-fb-button.png');
        &:active {
          background: transparent;
        }
      }
    }

  }

}

.logo-navigace {

  $zluta: #ffe22b;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;

  .container {
    background: transparent url('./images/navigace-logo-pozadi-pruhledne.png') no-repeat center top;
    width: 300px;
    height: 305px;

    text-align: center;

    @media (min-width: 768px) {
      background: transparent url('./images/logo-czar-bg.jpg') no-repeat center top;
      width: 528px;
      height: 537px;
    }
    @media (min-width: 992px) {
      width: 528px;
      height: 537px;
    }
    @media (min-width: 1200px) {
      width: 528px;
      height: 537px;
    }
  }

}
